<?xml version="1.0"?>
<model>
  <name>charpi_vision</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>charpi_vision_description (ros2_ws) PX4 SITL wrapper</name>
  </author>
  <description>
    Charpi vision quadrotor: PX4 SITL-ready model wrapping the URDF/meshes from
    ros2_ws/src/charpi_vision_description. Inertia ported from URDF; rotor poses
    measured from URDF; four MulticopterMotorModel plugins wired in X-config.
  </description>
</model>
